language: java
addons:
  sonarcloud:
    organization: "sawyern-github"
    token:
      secure: $SONAR_TOKEN
jdk: openjdk11
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar


