language: java
addons:
  sonarcloud:
    organization: "sawyern-github"
    token:
      secure: $SONAR_TOKEN
jdk:
  - openjdk11
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean -Dspring.profiles.active=production org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_TOKEN
  app: cookiebot-discord-heroku
