language: java
addons:
  sonarcloud:
    organization: "sawyern-github"
    token:
      secure: $SONAR_TOKEN
jdk:
  - openjdk8
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
#  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
#  - mvn clean -DskipTests package
deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_TOKEN
  app:
    master: cookiebot-discord-heroku
    dev: cookiebot-discord-dev
  skip_cleanup: true
