language: java
addons:
  sonarcloud:
    organization: "sawyern-github"
    token:
      secure: $SONAR_TOKEN
jdk:
  - openjdk11
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
  - mvn clean package -Djasypt.encryptor.password=$JYASPT_PASSWORD
deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_TOKEN
  app: cookiebot-discord-heroku
